@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --fontText: "Barlow Condensed", sans-serif;
  --fontBody: "Barlow", sans-serif;
}

html {
  font-size: 13px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: #fff;
  padding: 5rem 14rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.content nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  width: 100%;
  justify-content: space-between;
}
.content nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.content nav .menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 85px;
  list-style: none;
  font-size: 1.1rem;
}
.content nav .menu ul li a {
  text-decoration: none;
  color: hsl(230, 29%, 20%);
  font-weight: 600;
  font-family: var(--fontText);
  text-transform: uppercase;
  font-size: 2.5rem;
}
.content nav .menu ul li a:hover {
  color: hsl(0, 100%, 68%);
  cursor: pointer;
  text-decoration: underline;
}
.content nav .menu i {
  color: var(--Dark-Grayish-Blue);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.content .bg {
  width: 50%;
  background-color: var(--Light-Grayish-Blue);
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  border-radius: 0 0 50px 50px;
  z-index: -1;
}
.content .content_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-top: 5rem;
}
.content .content_body .img_content {
  width: 50%;
}
.content .content_body .img_content img {
  width: 100%;
}
.content .content_body .txt_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 50%;
}
.content .content_body .txt_content .txt_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.content .content_body .txt_content .txt_top .new {
  border-radius: 30px;
  padding: 5px 8px;
  line-height: 30px;
  font-family: var(--fontBody);
  font-size: 1.6rem;
  width: 80px;
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
  letter-spacing: 0px;
}
.content .content_body .txt_content .txt_top h1 {
  color: var(--Grayish-Blue);
  font-size: 2rem;
  font-family: var(--fontText);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content .content_body .txt_content p {
  color: #000;
  font-size: 9rem;
  font-family: var(--fontText);
  line-height: 9rem;
  font-weight: bold;
  width: 86%;
  letter-spacing: 1.5px;
  padding: 20px 0;
}
.content .content_body .txt_content .txt {
  color: var(--Grayish-Blue);
  font-size: 1.7rem;
  font-family: var(--fontBody);
  line-height: 1.5;
  width: 50%;
  font-weight: 600;
  padding-bottom: 30px;
}
.content .content_body .txt_content .preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.content .content_body .txt_content .preview button {
  background-color: var(--Red);
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-family: var(--fontText);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 190px;
  transition: 0.5s ease;
}
.content .content_body .txt_content .preview button:hover {
  cursor: pointer;
  background-color: var(--Grayish-Blue);
}
.content .content_body .txt_content .preview span {
  letter-spacing: 6px;
  font-family: var(--fontText);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .content nav .menu ul {
    display: none;
  }
  body {
    padding: 5rem 1rem;
  }
  .content .content_body {
    flex-direction: column-reverse;
  }
  .content .content_body .img_content {
    width: 100%;
  }
  .content .content_body .txt_content {
    padding: 0 3rem;
    width: 100%;
  }
  .content .content_body .txt_content p {
    font-size: 3rem;
    line-height: 3rem;
    width: 95%;
  }
  .content .content_body .txt_content .txt_top .new {
    font-size: 1.2rem;
    width: 55px;
  }
  .content .content_body .txt_content .txt_top h1 {
    font-size: 1.5rem;
  }
  .content .content_body .txt_content .txt {
    width: 87%;
    font-size: 1.3rem;
    color: var(--Very-Dark-Blue);
  }
  .content .content_body .txt_content .preview span {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */